In [5]:
pip install Quandl

Collecting Quandl
  Using cached Quandl-3.7.0-py2.py3-none-any.whl (26 kB)
Requirement already satisfied: python-dateutil in c:\users\ibast\anaconda3\lib\site-packages (from Quandl) (2.8.2)
Requirement already satisfied: pandas>=0.14 in c:\users\ibast\anaconda3\lib\site-packages (from Quandl) (1.4.2)
Requirement already satisfied: inflection>=0.3.1 in c:\users\ibast\anaconda3\lib\site-packages (from Quandl) (0.5.1)
Requirement already satisfied: six in c:\users\ibast\anaconda3\lib\site-packages (from Quandl) (1.16.0)
Requirement already satisfied: requests>=2.7.0 in c:\users\ibast\anaconda3\lib\site-packages (from Quandl) (2.27.1)
Collecting more-itertools
  Downloading more_itertools-9.0.0-py3-none-any.whl (52 kB)
Requirement already satisfied: numpy>=1.8 in c:\users\ibast\anaconda3\lib\site-packages (from Quandl) (1.21.5)
Requirement already satisfied: pytz>=2020.1 in c:\users\ibast\anaconda3\lib\site-packages (from pandas>=0.14->Quandl) (2021.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\ibast\anaconda3\lib\site-packages (from requests>=2.7.0->Quandl) (2022.9.24)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\ibast\anaconda3\lib\site-packages (from requests>=2.7.0->Quandl) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\ibast\anaconda3\lib\site-packages (from requests>=2.7.0->Quandl) (1.26.9)
Requirement already satisfied: idna<4,>=2.5 in c:\users\ibast\anaconda3\lib\site-packages (from requests>=2.7.0->Quandl) (3.3)
Installing collected packages: more-itertools, Quandl
Successfully installed Quandl-3.7.0 more-itertools-9.0.0
Note: you may need to restart the kernel to use updated packages.

##### this program predict stock prices by Machine Learning Models

In [8]:
import quandl
import numpy as np 
from sklearn.linear_model import LinearRegression 
from sklearn.svm import SVR
from sklearn.model_selection import train_test_split

In [11]:
#GET THE STOCK DATA 
df=quandl.get("WIKI/AAPL")
df.head()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
1980-12-12,28.75,28.87,28.75,28.75,2093900.0,0.0,1.0,0.422706,0.424470,0.422706,0.422706,117258400.0
1980-12-15,27.38,27.38,27.25,27.25,785200.0,0.0,1.0,0.402563,0.402563,0.400652,0.400652,43971200.0
1980-12-16,25.37,25.37,25.25,25.25,472000.0,0.0,1.0,0.373010,0.373010,0.371246,0.371246,26432000.0
1980-12-17,25.87,26.00,25.87,25.87,385900.0,0.0,1.0,0.380362,0.382273,0.380362,0.380362,21610400.0
1980-12-18,26.63,26.75,26.63,26.63,327900.0,0.0,1.0,0.391536,0.393300,0.391536,0.391536,18362400.0

In [12]:
df.tail()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2018-03-21,175.04,175.09,171.26,171.270,35247358.0,0.0,1.0,175.04,175.09,171.26,171.270,35247358.0
2018-03-22,170.00,172.68,168.60,168.845,41051076.0,0.0,1.0,170.00,172.68,168.60,168.845,41051076.0
2018-03-23,168.39,169.92,164.94,164.940,40248954.0,0.0,1.0,168.39,169.92,164.94,164.940,40248954.0
2018-03-26,168.07,173.10,166.44,172.770,36272617.0,0.0,1.0,168.07,173.10,166.44,172.770,36272617.0
2018-03-27,173.68,175.15,166.92,168.340,38962839.0,0.0,1.0,173.68,175.15,166.92,168.340,38962839.0

In [14]:
#get the adj close price 
df=df[["Adj. Close"]]
#take a look at the new data
df.head()

            Adj. Close
Date
1980-12-12    0.422706
1980-12-15    0.400652
1980-12-16    0.371246
1980-12-17    0.380362
1980-12-18    0.391536

In [26]:
#a veriable for predicting "n" number of days into in future
forecast_out=1
#create another column for depended veriable or target vaaiable "n"unit 
df["prediction"]=df[["Adj. Close"]].shift(-1)
print(df.head())

            Adj. Close  prediction
Date
1980-12-12    0.422706    0.400652
1980-12-15    0.400652    0.371246
1980-12-16    0.371246    0.380362
1980-12-17    0.380362    0.391536
1980-12-18    0.391536    0.415355

C:\Users\ibast\AppData\Local\Temp\ipykernel_89144\354060604.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["prediction"]=df[["Adj. Close"]].shift(-1)

In [27]:
df.tail()

            Adj. Close  prediction
Date
2018-03-21     171.270     168.845
2018-03-22     168.845     164.940
2018-03-23     164.940     172.770
2018-03-26     172.770     168.340
2018-03-27     168.340         NaN

In [30]:
#create the independent data set(x)####
#convert the dataset to a numpy array
X=np.array(df.drop(["prediction"],1))
#remove the last "n"rows
X=X[:-forecast_out]
print(X)

[[  0.42270592]
 [  0.40065169]
 [  0.37124607]
 ...
 [168.845     ]
 [164.94      ]
 [172.77      ]]

C:\Users\ibast\AppData\Local\Temp\ipykernel_89144\339946723.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X=np.array(df.drop(["prediction"],1))

### create the independent data set(y)####
#convert the dataset to a numpy array
y=np.array(df.drop(["prediction"],1))
#remove the last "n"rows
y=y[:-forecast_out]
print(y)

In [42]:
#split the data into 80% training and 20% testing 
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [49]:
#CREATE AND TRAIN SUPPORT VECTOR MACHINE (REGRESSION)
svr_rbf=SVR(kernel="rbf",C=1e3, gamma=0.1)
svr_rbf.fit(X_train,y_train)

C:\Users\ibast\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR(C=1000.0, gamma=0.1)

In [52]:
#TESTING MODEL : SCORE RETURN THE coefficient of determination R*2 of the precdiction
#THE BEST POSSIBLE SCORE IS 1.0
svm_confidence=svr_rbf.score(X_test,y_test)
print("svm.confidence:",svm_confidence)

svm.confidence: 0.9999957827812257

In [53]:
#create and train the linear regression model 
lr=LinearRegression()
#Train the Model
lr.fit(x_train,y_train)

NameError: name 'x_train' is not defined